<template name="addjob">
  <h1>Add job</h1>
  <hr>
  <form id="addJobForm">
    <div class="form-group">
      <label for="jobtitle">Job title</label>
      <input type="text" class="form-control" id="jobtitle" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="jobtitle">Job description</label>
      <textarea class="form-control" id="jobDescription"></textarea>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" placeholder="Password">
    </div>
    <div id="my_map">
      Map here
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</template>